<html>
<head>
    <script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
    <% include ../partials/header %>
    <% include ../partials/meta %>
    <title>Admin | Pawan Industries | Total Weighing and Industrial Solutions</title>
</head>
<body>
    <div class="row no-gutters">
        <div class="col-md-12">
            <% include ../partials/admin-nav %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <% include ../partials/admin-menu %>
            </div>
            <div class="col-lg-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="/admin">Admin Home</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/products">View All Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
                    </ol>
                </nav>
                <br/>
                <div class="card">
                    <div class="card-header">
                        Edit Product
                    <a href="/admin/products/add">
                        <button type="button" class="btn btn-primary float-right">+ New Product</button>
                    </a>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/admin/products/edit/<%= product.alias %>">

                        <div class="form-group">
                            <label for="category">Category</label><br/>
                            <select class="custom-select" name="category" id="category">
                                <option value="SINGLE">Single</option>
                                <option value="MULTIPLE">Multiple</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="type">Type</label><br/>
                            <select class="custom-select" name="type" id="type">
                                <option value="MAIN">Main</option>
                                <option value="SUB">Sub-Category</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="parent">Parent Alias (Mandatory if Type = Sub-Category)</label>
                            <input type="text" name="parent" class="form-control" id="parent"
                                   value = "<%= product.parent %>">
                        </div>

                        <div class="form-group">
                            <label for="name">Product Name</label>
                            <input type="text" name="name" class="form-control" id="name" value="<%= product.productName %>" required>
                        </div>

                        <div class="form-group">
                            <label for="product_img">Product Image (Recommended Online Image Link)</label>
                            <input type="text" name="product_img" class="form-control" id="product_img" value="<%= product.productImage %>">
                        </div>

                        <div class="form-group">
                            <label for="description">Product Description</label>
                            <textarea class="form-control" name="description" id="description"><%- product.description %></textarea>
                        </div>

                        <div class="form-group">
                            <label for="description_img">Product Description Image #1 (Recommended Online Image Link)</label>
                            <input type="text" name="description_img" id="description_img" class="form-control" value="<%= product.descriptionImage %>">
                        </div>

                        <div class="form-group">
                            <label for="description_img2">Product Description Image #2 (Recommended Online Image Link)</label>
                            <input type="text" name="description_img2" id="description_img2" class="form-control" value="<%= product.descriptionImage2 %>">
                        </div>

                        <div class="form-group">
                            <label for="videoLink">Product Video Link (Copy embed script link)</label>
                            <input type="text" name="videoLink" class="form-control" id="videoLink" value="<%= product.videoLink %>">
                        </div>

                        <div class="form-group">
                            <label for="specifications">Specifications</label>
                            <textarea class="form-control" name="specifications" id="specifications"><%- product.specifications %></textarea>
                        </div>

                        <div class="form-group">
                            <label for="dimension_img">Product Dimension Image (Recommended Online Image Link)</label>
                            <input type="text" name="dimension_img" class="form-control" id="dimension_img" value="<%= product.dimension_img %>">
                        </div>

                        <div class="form-group">
                            <label for="segment">Segment</label><br/>
                            <select class="custom-select" name="segment" id="segment">
                                <option value="INDUSTRIAL">Industrial Weighing Segment</option>
                                <option value="RETAIL">Retail Weighing Segment</option>
                                <option value="LABORATORY">Laboratory Weighing Segment</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="alias">Alias</label>
                            <input type="text" name="alias" class="form-control" id="alias" value="<%= product.alias %>" required>
                        </div>

                        <div class="form-group">
                            <label for="visibility">Visibility</label><br/>
                            <select class="custom-select" name="visibility" id="visibility">
                                <option value="VISIBLE">Public</option>
                                <option value="HIDDEN">Only me</option>
                            </select>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Save">
                    </form>
                    <script>
                        CKEDITOR.replace('description');
                        CKEDITOR.replace('specifications');
                    </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
    <% include ../partials/footer %>
</body>
</html>