<html>

<head>
    <% include ../partials/header %>
        <% include ../partials/meta %>
            <title>Products | Pawan Industries</title>

</head>

<body>

    <% include ../partials/nav %>

    <!-- Main Section -->
    <div class="row no-gutters product-list-a">
        <div class="col-md-12 mx-auto">
            <div class="text-center" id="heading">Products</div>
        </div>
    </div>

    <ul class="product-list list-unstyled">
        <div class="row">
            
            <ul class="col-md-4 list-unstyled mx-auto">
                <li style="margin-left: 20px;"><strong>INDUSTRIAL SEGMENT</strong></li>
                <% for(key in product){ %>
                    <% if(product[key].segment == "INDUSTRIAL" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                        <li id="item">
                            <% if(product[key].category == "MULTIPLE") { %>
                                <a href="/products/sub/<%= product[key].alias %>" class="text-dark">
                                    <% } else { %>
                                        <a href="/products/<%= product[key].alias %>" class="text-dark">
                                            <% } %>
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="card-block">
                                                                <h5 class="card-title product-card-name"><%= product[key].productName %></h5>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="col">
                                                            <img src="<%= product[key].productImage %>" clas="img-fluid" width="85%" height="140">
                                                        </div>
                                                    </div>
                                                </div>
                                        </a>
                        </li>
                        <% } %>
                            <% } %>
            </ul>
            <ul class="col-md-4 list-unstyled mx-auto">

                <li style="margin-left: 20px;"><strong>RETAIL SEGMENT</strong></li>

                <% for(key in product){ %>
                    <% if(product[key].segment == "RETAIL" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                        <li id="item">
                            <% if(product[key].category == "MULTIPLE") { %>
                                <a href="/products/sub/<%= product[key].alias %>" class="text-dark">
                                    <% } else { %>
                                        <a href="/products/<%= product[key].alias %>" class="text-dark">
                                            <% } %>
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="card-block">
                                                                <h5 class="card-title product-card-name"><%= product[key].productName %></h5>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="col">
                                                            <img src="<%= product[key].productImage %>" clas="img-fluid" width="85%" height="140">
                                                        </div>
                                                    </div>
                                                </div>
                                        </a>
                        </li>
                        <% } %>
                            <% } %>
            </ul>
            <ul class="col-md-4 list-unstyled mx-auto">
                <li style="margin-left: 20px;"><strong>LABORATORY SEGMENT</strong></li>
                <% for(key in product){ %>
                    <% if(product[key].segment == "LABORATORY" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                        <li id="item">
                            <% if(product[key].category == "MULTIPLE") { %>
                                <a href="/products/sub/<%= product[key].alias %>" class="text-dark">
                                    <% } else { %>
                                        <a href="/products/<%= product[key].alias %>" class="text-dark">
                                            <% } %>
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="card-block">
                                                                <h5 class="card-title product-card-name"><%= product[key].productName %></h5>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="col">
                                                            <img src="<%= product[key].productImage %>" clas="img-fluid" width="85%" height="140">
                                                        </div>
                                                    </div>
                                                </div>
                                        </a>
                        </li>
                        <% } %>
                            <% } %>
            </ul>
        </div>
        </li>
    </ul>

    <% include ../partials/footer %>
</body>

</html>