<html>

<head>
    <% include ../partials/header %>
        <% include ../partials/meta %>
            <title>Products | Pawan Industries</title>

</head>

<body>

    <header>
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light sticky-top" id="nav">
                    <a class="navbar-brand" href="/"><img class="img-responsive" id="logo-image" src="/assets/logo-pawan1.png" height="40" alt="Logo" title="Pawan Industries | Total Weighing Solutions" id="logo"> <span id="brand">Pawan Industries</span></a>
                    <button type="button" aria-controls="sidebar" id="sidebarCollapse" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <button class="btn btn-outline-success nav-btn"><i class="fas fa-home"></i> Home</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">
                                    <button class="btn btn-outline-success nav-btn"><i class="fas fa-info-circle"></i> About Us</button>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <button class="btn btn-outline-success nav-btn">
                                        <i class="fas fa-search"></i> Search
                                    </button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div id="search-bar" style="width:20rem">
                                        <script>
                                            (function() {
                                                var cx = '016393719504244985253:ee_qjzshvoy';
                                                var gcse = document.createElement('script');
                                                gcse.type = 'text/javascript';
                                                gcse.async = true;
                                                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                                var s = document.getElementsByTagName('script')[0];
                                                s.parentNode.insertBefore(gcse, s);
                                            })();
                                        </script>
                                        <gcse:search></gcse:search>
                                    </div>

                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products">
                                    <button class="btn nav-btn-active"><i class="fas fa-kaaba"></i> Products</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">
                                    <button class="btn btn-outline-success nav-btn"><i class="fas fa-envelope"></i> Contact Us</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="wrapper">

            <nav id="sidebar">
                <div id="dismiss">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/" style="padding: 10px"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="/about" style="padding: 10px"><i class="fas fa-info-circle"></i> About</a>
                    </li>
                    <li>
                        <a href="#searchSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px"><i class="fas fa-search"></i> Search</a>
                        <ul class="collapse list-unstyled" id="searchSubmenu">
                            <li>
                                <div id="search-bar" style="width:15rem">
                                    <script>
                                        (function() {
                                            var cx = '016393719504244985253:ee_qjzshvoy';
                                            var gcse = document.createElement('script');
                                            gcse.type = 'text/javascript';
                                            gcse.async = true;
                                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                            var s = document.getElementsByTagName('script')[0];
                                            s.parentNode.insertBefore(gcse, s);
                                        })();
                                    </script>
                                    <gcse:search></gcse:search>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding: 10px"><i class="fas fa-kaaba"></i> Products</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="/products" style="padding: 10px">Industrial Segment</a>
                            </li>
                            <li>
                                <a href="/products" style="padding: 10px">Retail Segment</a>
                            </li>
                            <li>
                                <a href="/products" style="padding: 10px">Laboratory Segment</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact" style="padding: 10px"><i class="fas fa-envelope"></i> Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Section -->
    <div class="row no-gutters product-list-a">
        <div class="col-md-12 mx-auto">
            <div class="text-center" id="heading">Products</div>
        </div>
    </div>

    <ul class="product-list list-unstyled">
        <div class="row">
            
            <ul class="col-sm-4 list-unstyled mx-auto">
                <li style="margin-left: 20px;"><strong>INDUSTRIAL SEGMENT</strong></li>
                <% for(key in product){ %>
                    <% if(product[key].segment == "INDUSTRIAL" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                        <li id="item">
                            <% if(product[key].category == "MULTIPLE") { %>
                                <a href="/products/sub/<%= product[key].alias %>" class="text-dark">
                                    <% } else { %>
                                        <a href="/products/<%= product[key].alias %>" class="text-dark">
                                            <% } %>
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="card-block">
                                                                <h5 class="card-title product-card-name"><%= product[key].productName %></h5>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="col">
                                                            <img src="<%= product[key].productImage %>" clas="img-fluid" width="85%" height="140">
                                                        </div>
                                                    </div>
                                                </div>
                                        </a>
                        </li>
                        <% } %>
                            <% } %>
            </ul>
            <ul class="col-sm-4 list-unstyled mx-auto">

                <li style="margin-left: 20px;"><strong>RETAIL SEGMENT</strong></li>

                <% for(key in product){ %>
                    <% if(product[key].segment == "RETAIL" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                        <li id="item">
                            <% if(product[key].category == "MULTIPLE") { %>
                                <a href="/products/sub/<%= product[key].alias %>" class="text-dark">
                                    <% } else { %>
                                        <a href="/products/<%= product[key].alias %>" class="text-dark">
                                            <% } %>
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="card-block">
                                                                <h5 class="card-title product-card-name"><%= product[key].productName %></h5>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="col">
                                                            <img src="<%= product[key].productImage %>" clas="img-fluid" width="85%" height="140">
                                                        </div>
                                                    </div>
                                                </div>
                                        </a>
                        </li>
                        <% } %>
                            <% } %>
            </ul>
            <ul class="col-sm-4 list-unstyled mx-auto">
                <li style="margin-left: 20px;"><strong>LABORATORY SEGMENT</strong></li>
                <% for(key in product){ %>
                    <% if(product[key].segment == "LABORATORY" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                        <li id="item">
                            <% if(product[key].category == "MULTIPLE") { %>
                                <a href="/products/sub/<%= product[key].alias %>" class="text-dark">
                                    <% } else { %>
                                        <a href="/products/<%= product[key].alias %>" class="text-dark">
                                            <% } %>
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="card-block">
                                                                <h5 class="card-title product-card-name"><%= product[key].productName %></h5>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="col">
                                                            <img src="<%= product[key].productImage %>" clas="img-fluid" width="85%" height="140">
                                                        </div>
                                                    </div>
                                                </div>
                                        </a>
                        </li>
                        <% } %>
                            <% } %>
            </ul>
        </div>
        </li>
    </ul>

    <% include ../partials/footer %>
</body>

</html>