<html>

<head>
    <% include ../partials/header %>
        <% include ../partials/meta %>
            <title>Products | Pawan Industries</title>

</head>

<body>

    <% include ../partials/nav %>

    <!-- Main Section -->
    <div class="row no-gutters product-list-a">
        <div class="col-md-12 mx-auto">
            <div class="text-center" id="heading">Products</div>
        </div>
    </div>

    <div class="row no-gutters">
        <% indCount = 0 %>
        <% for(key in product){ %>
            <% if(product[key].segment == "INDUSTRIAL" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                <% indCount += 1 %>
            <% } %>
        <% } %>
        <% if(indCount == 0) { %>
        <% } else { %>
            <div class="col-md-4 mx-auto">
                <div class="product-type-header mx-auto">INDUSTRIAL SEGMENT</div>
                <div class="row row-margin-bottom mx-auto">
                    <% for(key in product){ %>
                        <% if(product[key].segment == "INDUSTRIAL" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                            <% if(product[key].category == "MULTIPLE") { %>
                                <a href="/products/sub/<%= product[key].alias %>" class="text-dark">
                            <% } else { %>
                                <a href="/products/<%= product[key].alias %>" class="text-dark">
                            <% } %>
                            <div class="col-md no-padding lib-item" data-category="view">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-6">
                                            <img class="lib-img-show img-fluid" src="<%= product[key].productImage %>">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="lib-row lib-header">
                                                <%= product[key].productName %>
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        <% } %>
        
        <% retCount = 0 %>
        <% for(key in product){ %>
            <% if(product[key].segment == "INDUSTRIAL" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                <% retCount += 1 %>
            <% } %>
        <% } %>
        <% if(retCount == 0) { %>
        <% } else { %>
            <div class="col-md-4 mx-auto">
                <div class="product-type-header mx-auto">RETAIL SEGMENT</div>
                <div class="row row-margin-bottom mx-auto">
                    <% for(key in product){ %>
                        <% if(product[key].segment == "RETAIL" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                            <% if(product[key].category == "MULTIPLE") { %>
                                <a href="/products/sub/<%= product[key].alias %>" class="text-dark">
                            <% } else { %>
                                <a href="/products/<%= product[key].alias %>" class="text-dark">
                            <% } %>
                            <div class="col-md no-padding lib-item" data-category="view">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-6">
                                            <img class="lib-img-show img-fluid" src="<%= product[key].productImage %>">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="lib-row lib-header">
                                                <%= product[key].productName %>
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>    
            </div>
        <% } %>

        <% labCount = 0 %>
        <% for(key in product){ %>
            <% if(product[key].segment == "LABORATORY" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                <% labCount++ %>
            <% } %>
        <% } %>
        <% if(labCount == 0) { %>
        <% } else { %>
            <div class="col-md-4 mx-auto">
                <div class="product-type-header mx-auto">LABORATORY SEGMENT</div>
                <div class="row row-margin-bottom mx-auto">
                    <% for(key in product){ %>
                        <% if(product[key].segment == "LABORATORY" && product[key].type == "MAIN" && product[key].visibility == "VISIBLE"){ %>
                            <% if(product[key].category == "MULTIPLE") { %>
                                <a href="/products/sub/<%= product[key].alias %>" class="text-dark">
                            <% } else { %>
                                <a href="/products/<%= product[key].alias %>" class="text-dark">
                            <% } %>
                            <div class="col-md no-padding lib-item" data-category="view">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-6">
                                            <img class="lib-img-show img-fluid" src="<%= product[key].productImage %>">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="lib-row lib-header">
                                                <%= product[key].productName %>
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>

    <% include ../partials/footer %>
</body>

</html>