<html lang="en">

<head>
    <% include ../partials/header %>
        <% include ../partials/meta %>
            <title>
                Pawan Industries | Total Weighing and Industrial Solutions</title>
</head>

<body>
    
    <% include ../partials/nav %>

    <br />

    <div class="row no-gutters">
        <div class="col-md-12 mx-auto">
            <h1 class="text-center" id="heading">
                <%= product.productName %>
            </h1>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 thumbnail">
                    <img src="<%= product.productImage %>" alt="<%= product.productName %> thumbnail" class="img-fluid" width="250" height="250">
                </div>
                
                <div class="col-lg-9">
                    <% if(!product.description) { %>
                    <% } else { %>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item img-fluid table-responsive">
                                    <%- product.description %>
                                </li>
                            </ol>
                        </nav>
                    <% } %>

                    <% if(!product.descriptionImage) { %>
                    <% } else { %>
                        <img src="<%= product.descriptionImage %>" alt="<%= product.productName %> description image" class="img-fluid" width="826">
                    <% } %>

                    <% if(!product.descriptionImage2) { %>
                    <% } else { %>
                        <img src="<%= product.descriptionImage2 %>" alt="<%= product.productName %> description image" class="img-fluid" width="826">
                    <% } %>

                    <% if(!product.videoLink) { %>
                    <% } else { %>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="<%= product.videoLink %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <br>
                    <% } %>

                    <% if(!product.specifications) { %>
                    <% } else { %>
                        <div class="row no-gutters">
                            <div class="col-md-12 mx-auto">
                                <div class="text-center" id="heading">Specifications</div>
                            </div>
                        </div>
                        <ul class="img-fluid table-responsive">
                            <%- product.specifications %>
                        </ul>
                        <br>
                    <% } %>
                    <% if(!product.dimensionImage) { %>
                    <% } else { %>
                        <div class="row no-gutters">
                            <div class="col-md-12 mx-auto">
                                <div class="text-center" id="heading">Dimensions</div>
                            </div>
                        </div>
                        <img src="<%= product.dimensionImage %>" alt="<%= product.productName %> Dimensions" class="img-fluid">
                    <% } %>
                </div>
            </div>
        </div>
    </section>

    <% include ../partials/footer %>

</body>

</html>