<html lang="en">

<head>
    <% include ../partials/header %>
    <% include ../partials/meta %>
    <title>Products | Pawan Industries | Total Weighing and Industrial Solutions</title>
</head>

<body>
    <% include ../partials/nav %>

    <br />

    <div class="row no-gutters">
        <div class="col-md-12 mx-auto">
            <div class="text-center" id="heading">
                <%= parent.productName %>
            </div>
        </div>
    </div>

        <div class="container">
            <div class="row no-gutters">
                <% if(product.length == 0) { %>
                    <div class="col-md-8 mx-auto">
                        <div class="product-type-header mx-auto">NO PRODUCTS TO SHOW</div>
                    </div>
                <% } else { %>
                    <% productCount = 0 %>
                    <% for(key in product) { %>
                        <% if(product[key].visibility == "VISIBLE") { %>
                            <% productCount++ %>
                        <% } %>
                    <% } %>
                    <% if(productCount == 0) { %>
                        <div class="col-md-8 mx-auto">
                            <div class="product-type-header mx-auto">NO PRODUCTS TO SHOW</div>
                        </div>
                    <% } else {%>
                        <% for(key in product) { %>
                            <div class="col-md-5 mx-auto">
                                <section>
                                    <% if(product[key].category == "MULTIPLE") { %>
                                        <a href="/products/sub/<%= product[key].alias %>" class="text-dark">
                                    <% } else { %>
                                        <a href="/products/<%= product[key].alias %>" class="text-dark">
                                    <% } %>
                                    <div class="row row-margin-bottom mx-auto">
                                        <div class="col-md no-padding lib-item" data-category="view">
                                            <div class="lib-panel">
                                                <div class="row box-shadow">
                                                    <div class="col-md-6">
                                                        <img class="lib-img-show img-fluid" src="<%= product[key].productImage %>">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="lib-row lib-header">
                                                            <%= product[key].productName %>
                                                            <div class="lib-header-seperator"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                </secttion>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>

    <% include ../partials/footer %>
</body>

</html>