<html lang="en">

<head>
    <% include ../partials/header %>
        <% include ../partials/meta %>
            <title>
                <%= product.productName %> | Pawan Industries | Total Weighing and Industrial Solutions</title>
</head>

<body>
    
    <% include ../partials/nav %>

    <br />

    <div class="row no-gutters">
        <div class="col-md-12 mx-auto">
            <div class="text-center" id="heading">
                <%= parent.productName %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row no-gutters">
            <% for(key in product) { %>
                <div class="col-md-5 mx-auto">
                    <section>
                        <div class="container">
                            <% if(product[key].category == "MULTIPLE") { %>
                                <a href="/products/sub/<%= product[key].alias %>" class="text-dark">
                                    <% } else { %>
                                        <a href="/products/<%= product[key].alias %>" class="text-dark">
                                            <% } %>
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="card-block">
                                                                <h5 class="card-title"><%= product[key].productName %></h5>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="col">
                                                            <img src="<%= product[key].productImage %>" clas="img-fluid" width="85%" height="140">
                                                        </div>
                                                    </div>
                                                </div>
                                        </a>
                        </div>
                    </section>
                </div>
                <% } %>
        </div>

    </div>

    <% include ../partials/footer %>

</body>

</html>